<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../../lib/phpunit/bootstrap.php"
         displayErrors="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="_test.php" phpVersion="7.4.0">tests</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">classes</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>yui</directory>
        </exclude>
    </coverage>
</phpunit>
